.DS_Store
.AppleDouble
.LSOverride
Icon?

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Logs and temp
*.log
*.tmp
*.swp
